.navbar-default {
    background-color: #118442;
    border-color: #ff0000;
}
.navbar-default .navbar-brand {
    color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #f9f9f9;
}
.navbar-default .navbar-text {
    color: #000000;
}
.navbar-default .navbar-nav > li > a {
    color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #f9f9f9;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #f9f9f9;
    background-color: #ff0000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #f9f9f9;
    background-color: #ff0000;
}
.navbar-default .navbar-toggle {
    border-color: #ff0000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ff0000;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #000000;
}
.navbar-default .navbar-link {
    color: #000000;
}
.navbar-default .navbar-link:hover {
    color: #f9f9f9;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #000000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #f9f9f9;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #f9f9f9;
        background-color: #ff0000;
    }
}

#logo
{
    font-family: "Karmatic Arcade", "Helvetica", "Arial", monospace ;
    color: #5255E8;
}
#logo2
{
    color: #FF0000;
}
#home
{
    background: url("../images/diversity_resized3.jpg") fixed;
    background-size: cover;
    padding-top: 800px;
}

#image_text
{
    color: white;
    text-align: center;
    position: relative;
    bottom: 500px;
}

#break
{
    background: #118442;
    color: white;
    text-align: center;
    height: 300px;
    overflow: hidden;
}

#millennials
{
    background: #ff0000;
    color: white;
    text-align: center;
    height: 150px;
    overflow: hidden;
}

#footer
{
    background: #118442;
    color: black;
    text-align: center;
    height: 200px;
    overflow: hidden;
}

blockquote
{
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p
{
    display: inline;
}
cite
{
    color: white;
}
p
{
    color: white;
}

#contact_section
{
    background: #f1f1f1;
    height:425px;
}

#forms
{
    background: #f1f1f1;
    height:200px;
    text-align: center;

}


#communication
{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#solutions_section
{
    background: #f1f1f1;
    text-align: center;
}
.glyphicon.glyphicon-envelope
{
    color: white;
    font-size: 14pt;
}

#solutions_body
{
    background-color: rgb(241, 241, 241);
}

#graph_title
{
    margin-left: 350px;

}
ol
{
    font-size: 14pt;
}
#solutions_link
{
    color: #22426c;
}